/* BACK BUTTON */
.back-button {
    background: none;
    border: none;
    color: #000;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    position: fixed; /* Fix it to stay in place */
    top: 20px;
    left: 20px; /* Ensure it aligns to the left */
    z-index: 100; /* Keep it on top of other elements */
    transition: background 0.3s ease;
}

.back-button:hover {
    background: rgba(0, 0, 0, 0.3);
}


/* GENERAL STYLES */
body {
    font-family: 'Arial Narrow', Times, serif;
    margin: 0;
    padding: 0;
    background: #fff; 
    color: 000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MARKET INSIGHTS TITLE */
.section-title {
    font-size: 42px;
    color: #000; 
    text-transform: capitalize;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
}

/* STOCK GRAPH CONTAINER */
.stock-graphs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    width: 80%;
    flex-wrap: nowrap;
}

/* INDIVIDUAL STOCK BOX */
.stock-box {
    width: 45%;
    max-width: 350px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stock-box:hover {
    transform: scale(1.20);
    box-shadow: 0 4px 4px #cb3116;
}

/* STOCK IMAGE */
.stock-image {
    width: 100%;
    max-width: 500px; /* Adjusted for better fit */
    height: auto;
    border-radius: 8px;
}

/* MACROECONOMIC INSIGHTS */
.macro-insights {
    width: 80%;
    margin-top: 40px;
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* MACRO TITLE */
.macro-title {
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MACRO TREND LIST */
#macro-trends-list {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    text-align: left;
    line-height: 1.6;
}

/* BULLET POINTS */
.bullet {
    color: #000;
    font-size: 22px;
    margin-right: 8px;
}

/* MACRO TREND ASSETS */
.macro-assets {
    color: #000;
    font-size: 16px;
    display: block;
    margin-top: 5px;
}

/* CLIENT ASSETS LABEL */
.client-assets-label {
    color: 000;
    font-weight: bold;
}

.macro-insights:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 4px #cb3116;
}